/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/*===== CSS =====*/
:root{
  --header-height: 3rem;
  --font-semi: 600;
}

/*===== Colores =====*/
:root{
--first-color: #4070F4 ;
--second-color: #fff;    
--nav-text-color:#fff;
--nav-indexcolor:#73a9c2;
--rectangle-firstcolor:#8BEEDA;
--rectangle-secondcolor:#35A0F1;
--bgcolor:#001020;
--navbar-bgcolor:black;
}

/*===== Fuente y tipografia =====*/
:root{
  --body-font: 'Roboto', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.15rem;
  --normal-font-size: 1.1rem;
  --header-font-size: 1.25rem;
}
@media screen and (min-width: 768px){
  :root{
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1.1rem;
  }
}

/*===== Margenes =====*/
:root{
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== z index =====*/
:root{
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Botones en navbar==========*/
.nav__btns {
  display: flex;
  align-items: center;
}
/*========== Propiedades documento en generalr==========*/
html{
  scroll-behavior: smooth;
}
body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--bgcolor);
}
h1,h2,p{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== Propiedades generales de secciones ===== */

/*===== Ajustes del layout =====*/
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--navbar-bgcolor);
  box-shadow: 0 1px 4px rgba(146,161,176,.15);
}
.header{
  width: 100%;
  background: var(--body-color); 
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}
.main{
  overflow: hidden; 
}

/*===== NavBar =====*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
  background-color: var(--navbar-bgcolor);
}
@media screen and (max-width: 767px){
  .nav__menu{
    position: fixed;
    width: 100%;
    background-color:var(--navbar-bgcolor);
    top: -150%;
    left: 0;
    padding: 3.5rem 0;
    transition: .4s;
    z-index: var(--z-fixed);
    border-radius: 0 0 1.5rem 1.5rem;
  }
    .team_container{
        display:none;
    }
}

.nav__close{
  color: white;
}
.nav__close{
  font-size: 1.8rem;
  position: absolute;
  top: .5rem;
  right: .7rem;
  cursor: pointer;
}

.nav__list{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}

.nav__link{
  text-transform: uppercase;
  font-weight: var(--font-black);
  transition: .4s;
}

.nav__item{
  margin-bottom: var(--mb-4);
}
.nav__link{
  position: relative;
  color: var(--nav-text-color);
}
.nav__link:hover{
  position: relative;
}
.nav__link:hover::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--nav-indexcolor);
}

.nav__toggle{
  color: var(--nav-text-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Indicador del menu*/
.active-link::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
}

/*=== Show menu ===*/
.show-menu{
  top: 0;
}

/* ===== Landing =====*/
.home{
  height: calc(100vh - 3rem);
  row-gap: 1rem;
}
.home__text{
  row-gap: 1rem;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 4rem; 
}
.home__title{
    font-size: 60px;
    color: var(--second-color);
    padding-bottom: 1rem;
}
.home__description{
    font-size: 25px;
    color: var(--second-color);
}
.home__img{
    width: 400px;
}

/* ===== About =====*/
.about{
    padding-top: 3rem;
}
.about__title{
    font-size:50px;
    text-align:center;
    color: var(--second-color);
}
.about__description{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 20px;
    color: var(--second-color);
    text-align: justify;
}
.about__img{
    width: 350px;
}

/*==================== SKILLS ====================*/
.skills__container {
  row-gap: 0;
  align-content: center;
}
.skill__title{
    font-size:50px;
    text-align:center;
    color: var(--second-color);
    padding-top: 3rem;
}
.skills__header {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-2);
  cursor: pointer;
}

.skills__icon, .skills__arrow {
  font-size: 2rem;
  color: var(--first-color);
}

.skills__icon {
  margin-right: 0.75rem;
}

.skills__title {
   font-size: 20px;
    color: var(--second-color);
    text-align: justify;
}

.skills__subtitle {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

.skills__arrow {
  transition: .4s;
}

.skills__list {
  row-gap: 1.5rem;
  padding-left: 2.7rem;
}

.skills__titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.skills__name {
  font-size: 1rem;
  font-weight: 500;
  color: var(--second-color);
}
.skills__number{
  font-size: 1rem;
  font-weight: 500;
  color: var(--second-color);
}

.skills__bar, .skills__percentage {
  height: 5px;
  border-radius: .25rem;
}

.skills__bar {
  background-color: var(--first-color-lighter);
}

.skills__percentage {
  display: block;
  background-color: var(--first-color);
}

.skills__html {
  width: 80%;
}

.skills__css {
  width: 70%;
}

.skills__js {
  width: 60%;
}

.skills__react {
  width: 25%;
}

.skills__fundamentals {
  width: 80%;
}

.skills__NFT {
  width: 55%;
}

.skills__trading {
  width: 90%;
}

.skills__close .skills__list {
  height: 0px;
  overflow: hidden;
}

.skills__open .skills__list {
  height: max-content;
  margin-bottom: 2.5rem;
}

.skills__open .skills__arrow {
  transform: rotate(-180deg);
}

/* ===== Schedule =====*/
.schedule{
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--second-color);
  text-align: center;
  padding: 15px;
  padding-bottom: 4rem;
}
th, td {
  padding: 15px;
}

/* ===== Clock =====*/
.clock__title{
    font-size:50px;
    text-align:center;
    color: var(--second-color);
    padding-top: 3rem;
    padding-bottom: 2rem;
}
/* ===== FOOTER =====*/
.footer{
  background-color: var(--navbar-bgcolor);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}
.footersection{
    padding-top: 2rem;
    padding-bottom: 4rem;
    text-align: center;
  }
.footer_img{
width: 200px;
transition: .3s;
padding-bottom: 2rem;
}
.footer__social-icon{
  width: 250px;
  margin-bottom: var(--mb-2);
  font-size: 3rem;
  color: var(--second-color);
}
.footer__social-icon:hover{
  color: var(--first-color);
}

/* ===== MEDIA QUERIES (responsivo)=====*/
@media screen and (min-width: 767px){
  body{
    margin: 0;
  }

  .section{
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title{
    margin-bottom: var(--mb-6);
    padding-top: 4rem;
  }
  .section-title::after{
    width: 80px;
    top: 7rem;
  }

  .nav{
    height: calc(var(--header-height) + 1rem);
  }
  
  .nav__close,
  .nav__toggle{
    display: none;
  }
  .nav__list{
    flex-direction: row;
    column-gap: 0.5rem;
  }
  .nav__item{
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle{
    display: none;
  }
  .nav__link{
    color: var(--nav-text-color);  
  }
  .home__text{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: initial;
    padding-bottom: 4rem;
    padding-top: 4rem;
}
    .home__title{
    font-size: 90px;
    color: var(--second-color);
}
.home__description{
    font-size: 35px;
    color: var(--second-color);
}
.about__img{
    width: 400px;
}
.about__title{
    font-size:65px;
    text-align:center;
    color: var(--second-color);
}
.about__description{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 25px;
    color: var(--second-color);
    text-align: justify;
}
.skill__title{
    font-size:65px;
    text-align:center;
    color: var(--second-color);
    padding-top: 5rem;
}
.iframe{
    width="560"; 
    height="315"; 
    }
}
@media screen and (min-width: 1024px){
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }
 .swiper-pagination{
    margin-top: var(--mb-2-5);
  }
    
}

@media only screen and (min-device-width: 375px) and (max-device-width: 928px)  and (orientation: landscape) { 
   
 .nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 200;
  background-color: var(--navbar-bgcolor);
}

}